<div class="slick__slide slide slide--1">
  <div class="slide__content">
    <div class="panel-display panel-1col clearfix">
      <div class="panel-panel panel-col">
        <div>
          <div>
            <div class="contractorBoxWrap">
              <div class="contractorBox">
                <div class="contractorBox-img">
                  <img typeof="foaf:Image" src="{{ profile.image }}" width="110" height="110" alt="" />
                </div>
                <div class="contractorBox-name">{{ profile.name }}</div>
                <div class="contractorBox-title">{{ profile.titles | map: "text" | join: ", " }}</div>
                <div class="contractorBox-location">
                  <div class="contractorBox-location-label">Location</div>
                  <div class="contractorBox-location-value">United States</div>
                </div>
                <div class="contractorBox-skills tags--main">
                  {% if profile.skills %}
                  <div class="item-list">
                    <ul>
                      {% for skill in profile.skills %}
                      <li><a href="/skills/{{ skill.value }}" typeof="skos:Concept" property="rdfs:label skos:prefLabel">{{ skill.text }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                </div>
                <a href="/u/{{ profile.id }}" class="btn btn--blue">View more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
